.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 3%;
}

.courseInfo {
  overflow: hidden;
  width: 40%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rand-btn,
.card-container {
  display: flex;
  justify-content: center;
}

.typo-courseInfo{
  overflow: "hidden";
  text-overflow: "ellipsis";
}